[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "thirdpary/librealsense"]
	path = thirdpary/librealsense
	url = https://github.com/IntelRealSense/librealsense.git
[submodule "thirdparty/librealsense"]
	path = thirdparty/librealsense
	url = https://github.com/IntelRealSense/librealsense.git
[submodule "thirdparty/jsoncpp"]
	path = thirdparty/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "thirdparty/gtest"]
	path = thirdparty/gtest
	url = https://github.com/google/googletest.git
